@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Cinzel:100,200,300,400,500,600,700|Merriweather:100,200,300,400,500,600,700');

/*--------------------------------------Logo*/

.homepage-link-all-things-hp1 {
   color: #fafafa; 
   font-family: Cinzel;
   text-align: left;
   font-weight: 400;
   padding-top: 5px;
   text-decoration: none;
   vertical-align: bottom;
   padding-bottom: 0;
}

.homepage-link-all-things-hp1 a {
   color: #fafafa; 
   font-family: Cinzel;
   text-align: left;
   font-weight: 400;
   padding-top: 5px;
   text-decoration: none;
    color: #fafafa;
    vertical-align: bottom;
    padding-bottom: 0;
}

.h4 { 
    text-decoration: none;
    color: #fafafa;
    vertical-align: bottom;
    padding-bottom: 0;
}

.homepage-link-all-things-hp2 {
    color: #fafafa;
    font-family: Cinzel;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    vertical-align: bottom;
    padding-top: none;
    padding-bottom: 0px;
    display: inline-block;
}

.homepage-link-all-things-hp2 a {
    color: #fafafa;
    font-family: Cinzel;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    vertical-align: bottom;
    padding-top: none;
    padding-bottom: -5px;
}

.homepage-link-all-things-hp2 a:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

/*--------------------------------------Navbar*/



.navbar {
   color: #fafafa;
   background-size: cover;
   background-color: #525252;
   margin-right: : 0;
   margin-left: 0;
   padding: 0;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   text-decoration: none;
   right: 0;
   left: 0;
   display: inline-block;
   padding-bottom: 0;
   vertical-align: bottom;
}

/*.navrow {
    height: auto;
}*/

.navitem {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 0px;
}

.navitem a {
   /* height: 80px;*/
    font-family: Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
    /*background-color: #525252;*/
    width: 100%;
    margin: 0;
    display: inline-block;
    background-size: cover;
    vertical-align: bottom;
    padding-bottom: -5px;
}

.navitem span {
    color: #fafafa;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 5px;
    font-weight: 400;
    vertical-align: bottom;
    display: inline-block;
    background-size: cover;
    padding-bottom: -5px;
}

/*--------------------------------Homepage*/

.hogwarts { 
  background-image: url("images/harry-potter-1640525_640.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  /*background-size: 100%;*/
  background-size: cover;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

/* ----------------------------------------------Links page */
/*.links-video {
    margin: auto;
    text-align: center;
    height: 100% !important;
    padding-bottom: 50px;
    margin-top: 120px;
}*/

.navbar-links {
   color: #fafafa;
   background-size: cover;
   background-color: #B41B26;
   margin-right: : 0;
   margin-left: 0;
   padding: 0;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   text-decoration: none;
   right: 0;
   left: 0;
   display: inline-block;
   padding-bottom: 0;
   vertical-align: bottom;
}

.body-bgcolor {
    background-color: #F5F5F5;
}

.movie_pic13 { 
  background-image: url("images/movie_pic13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  /*background-size: 100%;*/
  background-size: cover;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.audio {
    /*margin: auto;*/
    text-align: left;
    /*height: 100% !important;*/
   /* height:100vh;
    margin-top: -250px;
    vertical-align: top;*/
    background-size: contain;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    min-width: 270px;
    min-height: 150px;
}

.pottermore {
    background-image: url("images/pottermore.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 131px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.youtube-link {
    background-image: url("images/youtube.png");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.bloomsbury {
    background-image: url("images/bloomsbury.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.hp-wiki {
    background-image: url("images/Harry-potter-wiki-welcome.png");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 120px;
    padding-left: 0px;
}

.mugglenet {
    background-image: url("images/mugglenet.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.lexicon {
    background-image: url("images/lexicon.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.site-links {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

/* from W3schools.com */

.links-desc {
    color: #000000;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
    padding-left: none;
    padding-right: 30px;
    text-align: left;
}

.text-links {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

.links-page {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

.site-links {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

/*------------------------------------Places Page*/

.navbar-places {
   color: #fafafa;
   background-size: cover;
   background-color: #0000CD;
   margin-right: : 0;
   margin-left: 0;
   padding: 0;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   text-decoration: none;
   right: 0;
   left: 0;
   display: inline-block;
   padding-bottom: 0;
   vertical-align: bottom;
}

.movie_pic14 { 
  background-image: url("images/movie_pic14.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  /*background-size: 100%;*/
  background-size: cover;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.orlando {
    background-image: url("images/orlando.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 210px;
    padding-left: 0px;
}

.osaka {
    background-image: url("images/osaka.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 210px;
    padding-left: 0px;
}

/* ----------------------------------------------Events page */

.navbar-events {
   color: #fafafa;
   background-size: cover;
   background-color: #E0CB43;
   margin-right: : 0;
   margin-left: 0;
   padding: 0;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   text-decoration: none;
   right: 0;
   left: 0;
   display: inline-block;
   padding-bottom: 0;
   vertical-align: bottom;
}

.movie_pic9 { 
  background-image: url("images/movie_pic9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  /*background-size: 100%;*/
  background-size: cover;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  margin-bottom: 10px;
}

.inconcert {
    background-image: url("images/inconcert.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 160px;
    padding-left: 0px;
}

.leakycon {
    background-image: url("images/leakycon.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

.wizardcon {
    background-image: url("images/wizardcon.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 170px;
    padding-left: 0px;
}

/* ----------------------------------------------Shop page */

.navbar-shop {
   color: #fafafa;
   background-size: cover;
   background-color: #1F6E2C;
   margin-right: : 0;
   margin-left: 0;
   padding: 0;
   width: 100%;
   padding-left: 0;
   padding-right: 0;
   text-decoration: none;
   right: 0;
   left: 0;
   display: inline-block;
   padding-bottom: 0;
   vertical-align: bottom;
}

.movie_pic11 { 
  background-image: url("images/movie_pic11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  /*background-size: 100%;*/
  background-size: cover;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.kingscross {
    background-image: url("images/kingscross.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    object-fit: contain;
    padding-top: 210px;
    padding-left: 0px;
}

.timeturner {
    background-image: url("images/timeturner.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    object-fit: contain;
    padding-top: 280px;
    padding-left: 0px;
}

.party {
    background-image: url("images/party.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    object-fit: contain;
    padding-top: 280px;
    padding-left: 0px;
}

/*--------------------------------------Footer with help from W3 schools*/



body {
padding-bottom: 120px; /* height of the footer from Stack Overflow to be able to scroll down site*/
}

footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-bottom: none;
    padding-bottom: none;
}

.footer-text {
    padding-top: 10px;
    text-align: left;
}

.email {
    padding-top: 10px;
    padding-bottom: 0px;
}

.h5 {
    padding-top: 10px;
}

.general-sub {
    padding-top: 10px;
    text-align: left;
}

.social-links {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.social-links li a i {
    width: 25px;
    height: 25px;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    display: table-cell;
    text-decoration: none;
    font-size: 36px;
    line-height: 32px;
    color: #fafafa;
    background: #8f8f8f;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.social-links i {
    text-decoration: none;
}

.list-inline-item i {
    text-decoration: none;
}



