@import url('https://fonts.googleapis.com/css?family=Cinzel:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*--------------------------------------Nav Bar*/

.ui-menu-color-links {
 background-color: #B41B26;
}

.ui-menu-color-places {
 background-color: #0000CD;
}

.ui-menu-color-events {
 background-color: #E0CB43;
}

.ui-menu-color-shop {
 background-color: #1F6E2C;
}

.navitem {
    height: 90px;
    font-family: Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
}

/* row structure from stackoverflow.com */

.navitem span {
    color: #fafafa;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 400;
    
}

.navitem a {
    text-decoration: none;
}

.navitem a i {
    color: #fafafa;
    display: block;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
}

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.1);
    height: 90px;
    width: 100%;
    text-decoration: none;
}

/*.navitem:hover {
    background-color: rgba(0, 0, 0, 0.1);
    height: 90px;
}*/



/*--------------------------------------Header*/

.all-things {
    height: 95px;
}
 /* from css-tricks.com */
 
.homepage-link a {
    text-decoration: none;
    font-color: black;
    color: black;
    
}

.homepage-link a:hover {
    color: black;
}

h1 {
    font-family: "Cinzel", serif;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    background-color: #fafafa;
    text-decoration: none;
    font-color: #000000;
}

h2 {
    font-family: "Cinzel", serif;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    background-color: #fafafa;
    text-decoration: none;
    font-color: #000000;
    padding-bottom: 10px;
}

.hogwarts { 
  background-image: url("images/harry-potter-1640525_640.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: 100%;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  margin-bottom: 10px;
}

.movie_pic { 
 background-image: url("images/movie_pic2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: 100%;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  margin-bottom: 10px;
}

.harry-ron-hermione { 
  background-image: url("images/harry_ron_hermione.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: 100%;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  margin-bottom: 10px;
}


/* from W3schools.com */

.video {
    margin: auto;
    text-align: center;
    height: 100% !important;
}

.site-links {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*--------------------------------------Footer*/

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.footer-text {
    padding-top: 10px;
}

.email {
    padding-top: 10px;
    padding-bottom: 20px;
}

.h5 {
    padding-top: 10px;
}

.social-links {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    display: table-cell;
    text-decoration: none;
    font-size: 36px;
    line-height: 32px;
    color: #fafafa;
    background: #8f8f8f;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.social-links i {
    text-decoration: none;
}

.list-inline-item i {
    text-decoration: none;
}