@import url('https://fonts.googleapis.com/css?family=Cinzel:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


/*--------------------------------------Nav Bar*/

.ui-menu-color-links {
 background-color: #B41B26;
}

.ui-menu-color-places {
 background-color: #0000CD;
}

.ui-menu-color-events {
 background-color: #E0CB43;
}

.ui-menu-color-shop {
 background-color: #1F6E2C;
}

.navitem {
    height: 90px;
    font-family: Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
}

/* row structure from stackoverflow.com */

.navitem span {
    color: #fafafa;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 400;
    
}

.navitem a {
    text-decoration: none;
}

.navitem a i {
    color: #fafafa;
    display: block;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
}

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.1);
    height: 90px;
    width: 100%;
    text-decoration: none;
}

/*.navitem:hover {
    background-color: rgba(0, 0, 0, 0.1);
    height: 90px;
}*/



/*--------------------------------------Header*/

/*.all-things {
    min-height: 95px;
}*/
 /* from css-tricks.com */
 
.homepage-link a {
    text-decoration: none;
    font-color: #000000;
    color: #000000;
    
}

.homepage-link a:hover {
    color: #000000;
}

h1 {
    font-family: "Cinzel", serif;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;;
}

h2 {
    font-family: "Cinzel", serif;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
    /*padding-bottom: 10px;*/
}

/*--------------------------------Homepage*/

.hogwarts { 
  background-image: url("images/harry-potter-1640525_640.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  background-size: 100%;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  margin-bottom: 10px;
}

.people {
    padding-top: 30px;
    padding-bottom: 120px;
    text-align: center;
}

.harry_pic { 
 background-image: url("images/harry_pic.jpg");
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  height: 230px;
  width: 175px;
  margin-bottom: 10px;
  display: inline;
  object-fit: contain;
  text-align: center;
}

.hermione_pic { 
  background-image: url("images/hermione_pic.jpg");
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  height: 230px;
  width: 175px;
  margin-bottom: 10px;
  display: inline;
  object-fit: contain;
  text-align: center;
}

.ron_pic { 
  background-image: url("images/ron_pic.jpg");
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  min-height: 230px;
  min-width: 175px;
  margin-bottom: 10px;
  display: inline;
  object-fit: contain;
  text-align: center;
}

.people-pics {
    color: #000000;
    font-family: Roboto, sans-serif;
    vertical-align: text-bottom;
    padding-top: 230px;
    text-align: left;
}

/* ----------------------------------------------Links page */

.video {
    margin: auto;
    text-align: center;
    height: 100% !important;
    padding-bottom: 50px;
}

.pottermore {
    background-image: url("images/pottermore.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 131px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.youtube-link {
    background-image: url("images/youtube.png");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.bloomsbury {
    background-image: url("images/bloomsbury.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.hp-wiki {
    background-image: url("images/Harry-potter-wiki-welcome.png");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 120px;
    padding-left: 0px;
}

.mugglenet {
    background-image: url("images/mugglenet.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.lexicon {
    background-image: url("images/lexicon.png");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 140px;
    padding-left: 0px;
}

.site-links {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

/* from W3schools.com */

.links-desc {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
    padding-left: none;
    padding-right: 10px;
    text-align: left;
}

.text-links {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

.links-page {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

.site-links {
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

/*------------------------------------Places Page*/

.movie_pic { 
  background-image: url("images/movie_pic2.jpg");
  text-align: center;
  background-repeat: no-repeat;
  min-height: 188px;
  min-width: 250px;
  margin-left: 33%;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.warnerbros {
    background-image: url("images/warnerbros.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 180px;
    padding-left: 0px;
}

.orlando {
    background-image: url("images/orlando.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

.osaka {
    background-image: url("images/osaka.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

/*------------------------------------Events Page*/

.audio {
    margin: auto;
    text-align: center;
    height: 100% !important;
}

.events-links {
    padding-top: 30px;
    text-align: center;
}

.inconcert {
    background-image: url("images/inconcert.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 180px;
    padding-left: 0px;
}

.leakycon {
    background-image: url("images/leakycon.png");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

.wizardcon {
    background-image: url("images/wizardcon.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    display: inline;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

/*--------------------------------------Shop*/

.kingscross {
    background-image: url("images/kingscross.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

.amazon {
    background-image: url("images/amazon.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}

.ebay {
    background-image: url("images/ebay.jpg");
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 47px;
    object-fit: contain;
    padding-top: 190px;
    padding-left: 0px;
}
/*--------------------------------------Text*/

.links-text {
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400; 
    text-decoration: none;
}

/*--------------------------------------Footer with help from W3 schools*/

body {
padding-bottom: 120px; /* height of the footer from Stack Overflow to be able to scroll down site*/
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

.footer-text {
    padding-top: 10px;
    text-align: left;
}

.email {
    padding-top: 10px;
    padding-bottom: 0px;
}

.h5 {
    padding-top: 10px;
}

.general-sub {
    padding-top: 10px;
    text-align: left;
}

.social-links {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    display: table-cell;
    text-decoration: none;
    font-size: 36px;
    line-height: 32px;
    color: #fafafa;
    background: #8f8f8f;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.social-links i {
    text-decoration: none;
}

.list-inline-item i {
    text-decoration: none;
}